.row{
    margin-right:-10px;
    margin-left:-10px;
}
div[class*=col-]{
    padding-right:10px;
    padding-left:10px;
}
.bg-default{background:#eee;color:#222;}
.bg-primary{background:#428bca;color:#fff;}
.bg-success{background:#5cb85c;color:#fff;}
.bg-info{background:#5bc0de;color:#fff;}
.bg-warning{background:#f0ad4e;color:#fff;}
.bg-danger{background:#d9534f;color:#fff;}
.bg-white{background:#fff;color:#222;}
.bg-black{background:#000;color:#fff;}
.bg-dark{background:#212121;color:#fff;}
.bg-blue{background-color:#5677fc!important;color:#fff!important;}
.bg-lightblue{background-color:#03a9f4!important;color:#fff!important;}
.bg-red{background-color:#e51c23!important;color:#fff!important;}
.bg-pink{background-color:#e91e63!important;color:#fff!important;}
.bg-purple{background-color:#9c27b0!important;color:#fff!important;}
.bg-indigo{background-color:#3f51b5!important;color:#fff!important;}
.bg-cyan{background-color:#00bcd4!important;color:#fff!important;}
.bg-teal{background-color:#009688!important;color:#fff!important}
.bg-green{background-color:#259b24!importantcolor:#fff!important;}
.bg-lightgreen{background-color:#8bc34a!important;color:#fff!important}
.bg-lime{background-color:#cddc39!important;color:#fff!important;}
.bg-yellow{background-color:#ffeb3b!important;color:#fff!important;}
.bg-amber{background-color:#ffc107!important;color:#fff!important;}
.bg-orange{background-color:#ff9800!important;color:#fff!important;}
.bg-brown{background-color:#795548!important;color:#fff!important;}
.bg-grey{background-color:#9e9e9e!important;color:#fff!important;}
.bg-cream{background-color:#f9ffe2!important;}

.text-white{color:#fff;}
.text-black{color:#000;}
.text-dark{color:#212121}
.text-blue{color:#5677fc!important;}
.text-lightblue{color:#03a9f4!important;}
.text-red{color:#e51c23!important;}
.text-pink{color:#e91e63!important;}
.text-purple{color:#9c27b0!important;}
.text-indigo{color:#3f51b5!important;}
.text-cyan{color:#00bcd4!important;}
.text-teal{color:#009688!important;}
.text-green{color:#259b24!important;}
.text-lightgreen{color:#8bc34a!important;}
.text-lime{color:#cddc39!important;}
.text-yellow{color:#ffeb3b!important;}
.text-amber{color:#ffc107!important;}
.text-orange{color:#ff9800!important;}
.text-brown{color:#795548!important;}
.text-grey{color:#9e9e9e!important;}
.text-cream{color:#f9ffe2!important;}

/* Bootstrap Panel Theme */
.panel{
    border-radius: 3px;
    -webkit-border-radius: px;
    border:none;
    background:none;
    margin-bottom: 10px;
}
.panel-heading{
    background:none;
    color:#333;
    position: relative;
}
.panel-heading h1,.panel-heading h2,.panel-heading h3,.panel-heading h4,.panel-heading h5,.panel-heading h6{
    margin:0px;
}
.panel-icon{
    float: left;
    width: 60px;
    text-align: center;
}
.panel-icon i{
    font-size:40px; 
    margin:15px 0;
}
.panel-data{
    margin-left: 65px;
    border-left: 1px solid #ddd;
    padding-left: 15px;
}
.panel-data h1,
.panel-data h2,
.panel-data h3,
.panel-data h4,
.panel-data h5,
.panel-data p{
    margin:0;
}
.panel-default .panel-heading{
    text-shadow:0px 0px 0px rgba(0,0,0,0);
}

/* Breadcrumb */
.breadcrumb{
    margin:0px;padding:0px;
    background:none;
}
.breadcrumb li.title{
    color:#111;
    font-weight: bold;
}
.breadcrumb li.current{
    color:#222;
    font-weight: bold;
}
.breadcrumb li.current a{
	color:inherit;
}
.breadcrumb a{
	text-decoration: none;
	color:#333;
}
.breadcrumb>li+li:before{
    font-family: FontAwesome;
    content: "\f061";
    color:#ccc;
    font-weight: normal;
}

/* Bootstrap Page Header Theme */
.page-header{
    background: #ddd;
    border:none;
    margin:0px!important;padding:10px;
    z-index: 99!important;
    overflow: hidden!important;
    width: 100%!important;
    height: auto!important;
    border-bottom:1px solid #ddd;
}
.page-header h2{
    font-size:16px;
    margin:0px;
}
.page-header i{
    width: 40px;
    text-align: center;
    margin-right:5px;margin-left: -10px;
    border-right:1px solid #ddd;
}
.page-header h2 img{
    vertical-align: middle;
    display: inline-block;
    margin:-5px 5px 0 0;
}
/* Bootstrap Pagination & Pager Theme */
.pagination{
    margin:0px!important;padding:0px!important;
}
.pagination li{
    padding:0px!important;
    margin:0px!important;
}
.pagination li a,
.pager li a{
    background:#fff;
    color:#555;
    width: auto!important;
    line-height: 30px!important;
    height: 30px!important;
    padding:0px 10px!important;
    margin:0px 5px 0 0!important;
    border-radius: 3px!important;
}
.pagination li a:hover,
.pager li a:hover{
    border-color:#aaa;
    background:#eee;
    z-index: 99;
    color:#111;
}
.pagination li.active a,
.pagination li.active a:hover,
.pager li.active a,
.pager li.active a:hover{
    background:#ddd;
    border-color:#ccc;
    color:#111;
    font-weight: bold;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.1);
}
.pagination li.disabled a,
.pagination li.disabled a:hover,
.pager li.disabled a,
.pager li.disabled a:hover{
    color:#aaa;
    background:#eee;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
    margin-right:5px;
    border-radius: 3px;
}
/* Bootstrap Modal Theme */
.modal{
    z-index: 9999!important;
}
.modal-content{
    border-radius: 3px!important;
    -webkit-border-radius: 0px!important;
    border:none!important;
}
.modal-header{    
    color:#fff;
    margin:-1px 0 0;
    padding: 10px 15px;
    border:none;
    text-align: center;
    background:#f44336;
    border-radius: 3px 3px 0 0;
}
.modal-header h4{
    margin:0;
}
.modal-header .close{
    margin-top:3px;
}
.modal-footer{
    padding:10px 15px;
    border:none;
}
.modal {
  text-align: center;
}
.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.3);
  border:none!important;
  overflow: visible!important;
}
.modal.zoom .modal-dialog{
    opacity: 0; transform: scale(.6);
    transition:all 200ms ease-out;
    overflow: auto;
}
.zoom.in .modal-dialog{
    opacity: 1; transform: scale(1);
    transition:all 200ms ease-out;
}
.modal .chosen-container{
    width: 100%!important;
}
/* Bootstrap Alert Theme */
.alert{
    border:none;
}
.alert-success{
    background:#2ecc71;
    color:#fff;
}
.alert-info{
    background:#3498db;
    color:#fff;
}
.alert-warning{
    background:#f39c12;
    color:#fff;
}
.alert-danger{
    background:#c0392b;
    color:#fff;
}

/* Bootstrap Button Theme */
.btn{
    padding:3px 8px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    border-color:transparent;
    color:#222;
    background:#eee;
    position: relative;
}
.btn-white{
    background:#fff;
}
.btn-default{
    background:#eee;
}
.btn-primary{
    background:#2f87c1!important;
    color:#fff!important;
}
.btn-primary:hover{
}
.btn-success{
    background:#2ecc71;
}
.btn-info{
    background:#3498db;
}
.btn-warning{
    background:#f39c12;
}
.btn-danger{
    background:#c0392b;
}
.btn-trans-black{
    background:rgba(0,0,0,0.3)!important;
}
.btn-trans-white{
    background:rgba(255,255,255,0.3)!important;
    border:none!important;
}
.btn-3d{
    border:1px solid rgba(0,0,0,0.1)!important;
    border-bottom:4px solid rgba(0,0,0,0.2)!important;
    outline:none!important;
}
.btn-3d:active{
    border-bottom: 4px solid transparent;
}
.btn-rounded{
    border-radius:50em!important;
    -webkit-border-radius:50em!important;
}
.btn:hover{
    border-color:rgba(0,0,0,0)!important;  
}
.btn-3d:hover{
    border:1px solid rgba(0,0,0,0.1)!important;
    border-bottom:4px solid rgba(0,0,0,0.1)!important;
    outline:none!important;
}
.btn-link{
    border-color:transparent!important;
    box-shadow: 0px 1px 1px rgba(0,0,0,0)!important;
    -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,0)!important;
}
.btn-icon{
    padding:0px 10px!important;
}
.btn:active{
    outline: none!important;
    box-shadow:inset 0px 0px 0px rgba(0,0,0,0.2)!important;
}
.btn.green{
    background:#0f9d58!important;
    color:#fff;
}
.btn.blue{
    background:#4285f4!important;
    color:#fff;
}
.btn.dark{
    background:#333!important;
    color:#fff!important;
}
/* Bootstrap Tabs Theme */
.nav-tabs{
    background: #424a55;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
}
.nav-tabs li a{
    color:#fff;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    margin:0px;
    border-color:transparent!important;
    font-size: 14px;
}
.nav-tabs li a:hover{
    background: rgba(255,255,255,0.4);
    border-bottom:1px solid rgba(255,255,255,0.4);
}
.nav-tabs li.active a{
    margin-top: -5px;
    padding-top:15px;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    font-weight: bold;
}
.nav-tabs li a i{
    font-size: 16px;
}
.tab-content{
    background: #fff;
    padding:15px;
    border-top:none;
    border-radius:0 0 3px 3px;
    -webkit-border-radius:0 0 3px 3px;
}
/* Bootstrap Navbrand */
.navbar-brand{
    color:#fff!important;
    display: block;
    float: none;
    font-size:16px;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow: hidden;
}
.navbar-brand .icon{
    font-size:25px;
    vertical-align: middle;
    margin-top:-5px;
    margin-right:10px;
    display: inline-block;
}
.dropdown-toggle{
    line-height: 45px!important;
}
/* Bootstrap Dropdown */
.dropdown-notification,
.dropdown-message{
    width: 300px;
    padding:0px;
}
.dropdown-notification li,
.dropdown-message li{
    border-bottom: 1px solid #eee;
}
.dropdown-notification li a,
.dropdown-message li a{
    overflow: hidden;
    display: block;
    font-size: 12px;
    padding:8px 10px;
}
.dropdown-notification li.link a,
.dropdown-message li.link a{
    text-align: center;
    background:#eee;
    color:#888;
}
.dropdown-message .message-avatar{
    width:40px;
    height: 40px;
    float: left;
}
.dropdown-message .message-text{
    margin-left: 50px;
    white-space: normal;
}
.navbar .dropdown-menu{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
.navbar .dropdown-menu > li:last-child{
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}
.dropdown-menu li a{
    font-size: 13px;
}

/* Input Group */
.input-group .btn{
    margin-left: -1px;
    position: relative;
    top:-1px;
    border:1px solid #ccc!important;
    box-shadow: 0px 0px 0px rgba(0,0,0,0)!important;
}

/* table */
.table-responsive.ui-layout-center{
    margin:-1px!important;
}
.table-bordered{
    margin:0px!important;
}
.table-bordered thead{
    border-bottom: 2px solid #ccc;
}
.table-bordered th{
    background-color: #eee;
    background-image: linear-gradient(#fff, #eee);
    border:none!important;
    border-right:1px solid #ddd!important;
    color:#333;
}
.table-bordered td{
    padding:5px;
    font-family: arial;
    border:1px solid #eee!important;
}
.table th a{
    color:inherit;
    text-decoration: none;
}
.table th a i{
    float: right;
    color:#ccc;
}
table.data{
    width: 100%;
    border-collapse:collapse;
}
table.data th{
    background:#fafafa;
    border:1px solid #ddd!important;
    color:#333;
    padding:5px;
    white-space: nowrap;
    text-align:center;
    overflow: hidden;
    text-overflow:ellipsis;
}
table.data th a{
    color:inherit;
    text-decoration: none;
    display: block;
    margin:-5px;
    padding:5px;
    padding-right:30px;
    position: relative;
}
table.data th a i{
    position: absolute;
    top:10px;right:5px;
    color:#ccc;
    margin:0px;
}
table.data td{
    border:1px solid #eee;
    padding:5px;
    font-size: 12px;
}
table.data td.action{
    width: 20px;
    text-align: center;
    padding:2px;
    white-space: nowrap;
}
table.data td.action a{
    color:#222;
    font-size: 16px;
    display: inline-block;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    margin:3px 3px 0 0;
}
table.data [colspan]{
    text-align: center;
}
table.table-strip tr{
    background:#fff;
}
table.table-strip tr:nth-child(even){
    background:#fafafa;
}
/* Form */

.inputbox {
    display: inline-block;
    vertical-align: middle;
    padding: 4px;
    height: auto;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.inputbox.currency{
    text-align: right;
}
.input-group{
    position: relative;
    vertical-align: middle;
    display: inline-block;
    top:1px;
}
.input-group .inputbox{
    float: left;
    width: auto;
    padding:4px 8px 5px;
    border-radius: 3px 0 0 3px;
}
.input-group .btn{
    float: left;
    border-radius: 0 3px 3px 0;
    height: 28px;line-height: auto;
    padding:0px 10px;
    top:0px;
}
select{
    display: inline-block;
    vertical-align: middle;
    padding:4px 4px 3px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background:#fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    top:1px;
    position: relative;
}
label.error{
    background: #c0392b;
    color:#fff;
    display: inline-block;
    padding:5px 10px;
    margin-top:10px;
    position: relative;
    clear: both;
    border-radius:5px;
    font-weight: normal;
    font-style: italic;
    display: none;
}